.contentor {
  padding-left: 0;
  padding-right: 0;
}

.head {
  padding-top: 2%;
  padding-bottom: 2%;
}

.primeiro {
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
}

.logo {
  padding-top: 1%;
  padding-bottom: 1%;
}
